@tailwind base;
@tailwind components;
@tailwind utilities;

.comic-popup-content {
  transform-style: preserve-3d;
}

.comic-popup-front,
.comic-popup-back {
  backface-visibility: hidden;
}

.comic-popup-back {
  transform: rotateY(180deg);
}

.comic-description,
.search-results,
.search-container, .pagination {
  scrollbar-width: none;
}
